@model GiftRegistry.Models.UserModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "AddFriend";
}

<h2>Add Friends</h2>

<form>
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Age</th>
        <th></th>
    </tr>
    @foreach (var item in Model.AppUser)
    {
        if (item.Id != User.Identity.GetUserId() && item.EmailConfirmed)
        {
            foreach (var friend in Model.Friends)
            {
                // COME BACK HERE
                if ((friend.FriendID1 == User.Identity.GetUserId() && friend.FriendID2 == item.Id) ||
                    friend.FriendID2 == User.Identity.GetUserId() && friend.FriendID1 == item.Id)
                {
                    continue;
                }

                else
                {
                    int age = DateTime.Now.Year - item.BirthDate.Year;
                    DateTime nextBirthday = new DateTime(DateTime.Now.Year, item.BirthDate.Month, item.BirthDate.Day);
                    if (DateTime.Now.Month < item.BirthDate.Month)
                    {
                        age--;
                    }
                    string birthday = item.BirthDate.ToString("MMMM dd, yyyy");

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @birthday
                </td>
                <td>
                    @age
                </td>
                <td>
                    @Html.ActionLink("Add", "SendFriendRequest", new { id = item.Id })
                </td>
            </tr>
                }
            }
        }
    }
</table>