@model IEnumerable<GiftRegistry.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "AddFriend";
}

<h2>Add Friends</h2>

<form>
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Age</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Id != User.Identity.GetUserId() && item.EmailConfirmed)
        {
            int age = DateTime.Now.Year - item.BirthDate.Year;
            DateTime nextBirthday;
            if (DateTime.Now.Month < item.BirthDate.Month)
            {
                nextBirthday = item.BirthDate.AddYears(age);
                age--;
            }
            else
            {
                nextBirthday = item.BirthDate.AddYears(age + 1);
            }
            string birthday = item.BirthDate.ToString("MMMM dd, yyyy");

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @birthday
                </td>
                <td>
                    @age
                </td>
                <td>
                    @Html.ActionLink("Add", "SendFriendRequest", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>