@model GiftRegistry.Models.ApplicationUser

@{
    ViewBag.Title = "ConfirmRequest";
}

<h1>Confirm Request</h1>

<p>Are you sure you want to add <strong> @Html.DisplayFor(model => model.Name)? </strong></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Add" class="btn btn-default" /> |
        <input type="submit" value="No" class="btn btn-default" />
    </div>
}

