body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: maroon;
    color: black;
}

.navbar-nav {
    color: black;
}

.nav.navbar-nav li a {
   color: black;
   font-weight: bold;
 }

.nav.navbar-nav a:hover {
 color: grey;
}

.siteTitle {
    text-align: center;
    font-weight: 900;
}

.siteBanner {
    background-color: lightblue;
    height : 500px;
}

.siteBanner h3 {
    font-weight : bolder;
}

.customButton {
  font: bold 13px Arial;
  text-decoration: none;
  background-color: lightblue;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}

.negativeCustomButton{
  font: bold 13px Arial;
  text-decoration: none;
  background-color: red;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}

.customTableButton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: lightgreen;
  color: black;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}

.userInfo {
    text-align: center;
    background-color: lightgray;
    padding-top: 6px;
    padding-bottom: 20px;
    padding-left: 2px;
}