@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "DeleteAccount";
}

<h2>Are you sure you want to delete your account?</h2>


<p>@Html.ActionLink("Yes", "DeleteAccountConfirmed", new { id = User.Identity.GetUserId() })| @Html.ActionLink("No", "Index")</p>

