@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Sean Flaherty's Senior Project</h3>

<p>I have made a small social network using ASP.NET that can be used to share gift lists with your friends.</p>
<p>Making it easier for you to share with them what you both want</p>
<img src="https://pics.clipartpng.com/midle/Gift_Box_in_Red_PNG_Clipart-276.png" />
