@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p>Email Address: @User.Identity.GetUserName()</p>
    <p>View List : @Html.ActionLink("Gift Lists", "Index", "GiftLists")</p>
</div>

<!--COME BACK HERE-->
