
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron siteBanner">
    <div class="siteTitle">
        <h3>Sean Flaherty Senior Project Spring 2018</h3>
        <h3>Gift Registry!</h3>
    </div>
    <ul>
        <li>Make an account</li>
        <li>Add gifts you want to your list</li>
        <li>Add your friends so you can see their lists</li>
        <li>Get Reminders for your friend's birthdays</li>
    </ul>
</div>
