
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h3>Sean Flaherty Senior Project Spring 2018</h3>
    <h3>Gift Registry!</h3>
    <p class="lead">Connect With Your Friends</p>
    <ul>
        <li>Make an account</li>
        <li>Add gifts you want to your list</li>
        <li>Add your friends so you can see their lists</li>
        <li>Get Reminders for your friend's birthdays</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>