
@{
    ViewBag.Title = "Temporary";
}

<h2>Temporary</h2>

<h1>Item</h1>

<ul>
    <li><strong>Name: </strong> Shirt</li>
    <li class="price"><strong>Price: </strong> $21</li>
    <li>Color: Blue</li>
    <li>Size: Large</li>
</ul>

